header
  display flex
  align-items center
  padding-top 2.5rem
  img
    padding 0 4rem
  
.hr-line
  margin-right -2rem

.nav-container
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
  padding 0 4rem
  width 100%
  max-width 42rem
  {barlowcondensed}
  ul
    display flex
    justify-content end
    align-items center
    gap 3rem
    a
      text-decoration none
      color white
      display flex
      align-items center
      gap 0.75rem
      height 6rem
      margin -1rem 0
      @extend .navigation