.home-container
  display flex
  height calc(100vh - 18rem)
  max-width 75rem
  margin 0 auto
  width 100%
  align-items flex-end
  gap 1rem
  justify-content space-between
  .home-text
    max-width 34rem
    .pre-question
      {barlowcondensed}
      font-size 1.75rem
      letter-spacing 4px !important
      color blue-300
    .last-question
      {bellefair}
      font-size 9rem
      margin 0
      border none
    .description
      {barlow}
  .explore-btn
    {bellefair}
    font-size 2rem
    border-radius 50%
    background-color white
    height 17rem
    width 17rem
    border none
    cursor pointer
    transition box-shadow 0.3s ease, opacity 0.3s ease
    &:hover
      box-shadow 0 0 0 80px rgba(252, 252, 252, 0.1)
      opacity 0.9
