.technology-container
  margin 3rem 0 3rem 11%
.technology-content
  display flex
  gap 2rem
  height calc(100vh - 18rem)
  margin 0
  figcaption
    display flex
    gap 4rem
    align-items center
    max-width 39.688rem
    .technology-content-text
      .tech-content-title, .tech-name
        {bellefair}
      .tech-content-title
        font-size 2rem
        margin 0
        opacity 0.5042
      .tech-name
        font-size 3.5rem
        margin-top 1rem
      .tech-description
        {barlow}
    .nav-technology
      {bellefair}
      font-size 2rem
      li
        cursor pointer
        display flex
        align-items center
        justify-content center
        width 5rem
        height 5rem
        border-radius 50%
        border 1px solid rgba(255, 255, 255, 0.25)
        &.active
          background-color white
          color black
        &:hover
          border 1px solid white
  .technology-image
    display flex
    align-items center
    width 100%
    img
      max-height 37.5rem
      max-width 38rem
      height 100%
      width 100%

   