//NOTE - Global Variables
white-hover = rgba(252, 252, 252, 0.5)
blue-300 = #D0D6F9

barlowcondensed = @block {
  font-family: "Barlow Condensed";
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight normal
}

bellefair = @block {
  font-family: "Bellefair";
  text-transform uppercase
  font-weight normal
}

barlow = @block {
  font-family "Barlow", sans-serif
  font-size 1.125rem
  line-height 180%
  color blue-300
}

// Nte - Global Styles
.navigation 
  transition all 0.5s ease-in-out
  border-bottom 3px solid transparentify(white, 0)
  &.active, &:hover
    border-bottom 3px solid white !important
    color white
  &:hover
    cursor pointer


//SECTION - Layout
@import "./stylus/layouts/*"
//SECTION - Pages
@import "./stylus/pages/*"
//SECTION - Components
@import "./stylus/components/*"

