body
  // max-width 1440px
  margin 0 auto
  color white
li
  list-style none
ul
  padding 0
  
hr {
  border 1px solid white
  opacity 0.25
  width 100%
  z-index 1
  backdrop-filter: blur(0px)
}





